html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

.web3-button {
  background-image: linear-gradient(to right, #30cfd0, #c43ad6);
  border: 0;
  color: white;
}

.web3-title {
  background: linear-gradient(to right, #30cfd0, #c43ad6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.web3-text {
  background: linear-gradient(to right, #30cfd0, #c43ad6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.web3-background {
  background: linear-gradient(to right, #30cfd0, #c43ad6);
}
